<app-header></app-header>
<div class="content-container">
  <div class="container h-100">
    <div class="d-flex">
      <img
        src="https://notazer0.s3.amazonaws.com/error401.jpg"
        class="img-fluid mx-auto mt-3"
        width="500"
        alt="error-401"
      />
    </div>

    <div class="text-center m-5">
      <h2>No tenés los permisos suficientes para acceder a esta sección</h2>
    </div>

    <div class="d-grid gap-2 col-2 mx-auto">
      <a routerLink="/" class="btn btn-danger">volver</a>
    </div>
  </div>
</div>
