<div class="card p-3 mb-5 shadow">
  <table class="table table-hover">
    <thead class="text-center">
      <tr>
        <th class="col-6 text-start">Constancia</th>
        <th class="col">Fecha</th>
        <th class="col">Estado</th>
        <th class="col">Acciones</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td class="text-start">Constancia de examen</td>
        <td>18/05/2023</td>
        <td>
          <span class="badge rounded-pill bg-secondary">Pendiente</span>
        </td>
        <td>
          <a class="btn btn-sm">
            <i class="bi bi-x-circle text-danger"></i>
          </a>

          <a class="btn btn-sm">
            <i class="bi bi-check2-circle text-success"></i>
          </a>

          <a class="btn btn-sm">
            <i class="bi bi-printer text-muted"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td class="text-start">Constancia de alumno regular</td>
        <td>11/10/2023</td>
        <td>
          <span class="badge rounded-pill bg-success">Confirmado</span>
        </td>
        <td>
          <a class="btn btn-sm">
            <i class="bi bi-x-circle text-danger"></i>
          </a>

          <a class="btn btn-sm">
            <i class="bi bi-check2-circle text-success"></i>
          </a>

          <a class="btn btn-sm">
            <i class="bi bi-printer text-muted"></i>
          </a>
        </td>
      </tr>

      <tr>
        <td class="text-start">Constancia de examenr</td>
        <td>11/10/2023</td>
        <td>
          <span class="badge rounded-pill bg-danger">Rechazado</span>
        </td>
        <td>
          <a class="btn btn-sm">
            <i class="bi bi-x-circle text-danger"></i>
          </a>

          <a class="btn btn-sm">
            <i class="bi bi-check2-circle text-success"></i>
          </a>

          <a class="btn btn-sm">
            <i class="bi bi-printer text-muted"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
